ol {
    background: #3399ff;
    padding: 40px;
    width: 90%;
    max-width: 1100px;
    margin: 0px auto;
}

ol li {
    background: #cce5ff;
    color: darkblue;
    margin: 10px;
    padding: 1px 2px ;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 1.2em;
}